
body
{
font-family: 'Poppins', sans-serif;
}


.nav-item
{
padding: 12px;
font-size: 18px;
font-weight: 400;
}

#home
{
	width: 100%; 
	min-height: 800px;
	background-image: url(../images/tim-photoguy-YsJBa7w44Vc-unsplash.jpg);
	background-size: cover;
	background-position: center center;
    position: relative;
}
#home .background
{
position: absolute;
top: 0;
height: 100%;
width: 100%;
background-color: rgba(45, 50, 72, 0.5);
}
#home .background .tittle
{
	margin-top: 200px;
}
#home .background .tittle h1
{
	font-size: 56px;
	font-weight: 700; 
	color: white;
    text-shadow: 0px 5px 10px #2d3248;
}
@media only screen and (max-width: 600px) 
{
	.tittle h1
   {
	font-size: 35px;
   }
}
.tittle h3
{
	font-size: 25px;
	font-weight: 500; 
	color: white;
}

@media only screen and (max-width: 600px) 
{
	.tittle h3
   {
	font-size: 20px;
   }
}
.background .container .button
{
	margin-top: 20px;
}
.background .container.button a
{
	font-size: 20px;
	font-weight: 300; 
	color: white;
}
.bg-main {
background-color: #516adb;

}
.icon 
{
margin: 5px;
color: #fff;
transition: all 1s;
}
.icon:hover
{
color: #207bc9;
}

 #work
{
 width: auto;
 text-align: center;
 height: auto;
 background-color: #fff ;
 padding-top: 50px;
 }
 
 #work .member2
{
  background-color: #e3e3e3;
  margin: 15px;
  padding:10px;
  margin-bottom: 10px;
}
#work .member2 h2
{
font-size: 26px;
}
#work .member2 p
{
  font-size: 18px;
 color: #605F5F;
 padding: 10px;
}
#work .member2 .icon
{
color: #207bc9;
transition: all 1s;
}
#work .member2 .icon:hover
{
color: #79bcf5;
}
#reviwe
{
 background-color: #e3e3e3;
}
#reviwe .item 
{
text-align: center;
}
#reviwe .owl-carousel img
{
border-radius: 50%;
padding:10px;
}



.block
{
 background-color: #e3e3e3;
 padding-bottom: 30px;
 }
 
 .member
{
  
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.block .member img
{
  width:100%;
  transition: all 2s;
}
.block .member img:hover
{
  transform: scale(0.9,0.9);
  
}
.block .member p
{
text-align: center;
  font-size: 18px;
 color: #605F5F;
}
.block .member h2
{
text-align: center;
  font-size: 22px;
  padding-top: 10px;
}

#pic
{
width: 100%; 
min-height: 300px;
background-image: url(../images/_m_v_-ZxQE-mbf9_s-unsplash.jpg);
background-size: 100% 100% ;
background-attachment: fixed;
color:#fff;
position: relative;
}
#pic .background
{
top: 0;
width: 100%;
background-color: rgba(45, 50, 72, 0.5);
}
#pic .background .qoute 
{ 
margin : 30px 0;
text-align: center;
border:3;
background-color: rgba(0,0,0,0.0);   
}
#pic .background .qoute span
{
color: #fff;
font-size: 18px;
font-weight: 600;
}
#pic .background .qoute .icon 
{
margin: 5px;
color: #fff ;
transition: all 1s;
}
#pic .background .qoute .icon:hover
{
color: #207bc9;
}

#footr .last
{
height: 70px;
background-color: #516adb;
}
#footr .last h5
{
padding-top: 15px ;
color: #fff;
}